// pyxfluff 2025

@import "mixins/menus";
@import "mixins/variables";

.chat-drawer .chat-drawer-container {
  @include ClearMenuNoRounding();

  background: $BGPrimary !important;
}

.c-navbar-container {
  background: $BGPrimary !important;

  border-radius: 8px 8px 0px 0px;
}

.chat-message-container,
.chat-transcript,
controls ul li a,
.c-footer,
.boxed.white {
  background: transparent !important;
}

.chat-message-creator__members {
    @include ClearMenu()
}

.chat-message-creator__new-group-header {
    @include ClearMenu();

    padding-left: 5px;
    padding-right: 5px;

    input {
        padding-left: 3px;
        background-color: transparent;
    }
}
