// pyxfluff 2026

@import "mixins/menus";
@import "mixins/variables";

img.avatar,
.avatar-flair {
  border-radius: 15% !important;
}

.top-tabs a {
  border-radius: 0px !important;
}

.dropdown-menu__item {
  margin-bottom: 5px;
}

.sidebar-section-link {
  border-radius: 8px;
  opacity: 0.7;
}

.list-controls .combo-box .combo-box-header {
    background: none;
}

.header-dropdown-toggle {
  margin-left: 7px;
}

.bootstrap-mode {
  @include ClearMenu();

  text-transform: uppercase;
}

.d-date-time-input {
  border: none;
}
