// pyxfluff 2025

@import "mixins/menus";
@import "mixins/variables";

button,
.controls ul li a {
  border-radius: 8px !important;
}

details,
input,
summary,
pre,
aside {
  &:not(pre code)
  &:not(.search-term__input) {
    @include ClearMenu();
  }
}

.btn.no-text
  :not(.btn-transparent)
  :not(.topic-map__views-trigger)
  :not(.show-all)
  :not(.profile-tab-btn)
  :not(.topic-drafts-menu-trigger)
  :not(.notifications-tracking-trigger)
  :not(.edit-category)
  :not(.toggle-like)
  :not(.topic-map__links-trigger)
  :not(.notifications-tracking-btn)
  :not(#upgrade-all) {
  border-radius: 100% !important;
  aspect-ratio: 1;

  background: $BGPrimary;
}

.modal,
.mfp-container,
.dialog-overlay {
  backdrop-filter: blur(3rem);

  .d-modal__container,
  .dialog-content {
    background: transparent;
    border-radius: 18px;
  }
}

.dialog-content {
  background: transparent !important;
  border-radius: 18px;
}

.alert,
.fk-d-tooltip__content {
  backdrop-filter: blur(2rem);

  border-radius: 8px;
  opacity: 0.7;
}
