// pyxfluff 2026

@import "mixins/menus";
@import "mixins/variables";

button,
.controls ul li a {
    border-radius: 8px !important;
}

details,
input,
pre,
aside {
    &:not(pre code) &:not(.search-term__input) {
        @include ClearMenu();
    }
}

.btn.no-text :not(.btn-transparent) :not(.topic-map__views-trigger) :not(.show-all) :not(.profile-tab-btn) :not(.topic-drafts-menu-trigger) :not(.notifications-tracking-trigger) :not(.edit-category) :not(.toggle-like) :not(.topic-map__links-trigger) :not(.notifications-tracking-btn) :not(#upgrade-all) :not(.btn-insert-table),
.controls .btn.no-text {
    border-radius: 100% !important;
    aspect-ratio: 1;

    background: $BGPrimary;
}

.modal,
.mfp-container,
.dialog-overlay {
    backdrop-filter: blur(3rem);

    .d-modal__container,
    .dialog-content {
        background: transparent;
        border-radius: 18px;
    }
}

.dialog-content {
    background: transparent !important;
    border-radius: 18px;
}

.alert,
.fk-d-tooltip__content {
    backdrop-filter: blur(2rem);

    border-radius: 8px;
    opacity: 0.7;
}

.fk-d-tooltip__trigger .btn .btn-icon .no-text {
    border-radius: 100%;
    background-color: $BGPrimary;
}

.topic-footer-main-buttons .btn:not(.danger):not(.create),
controls ul li a,
.btn-icon-text:not(.create):not(.danger):not(.btn-primary):not(.btn-danger):not(.post-action-menu__show-replies),
.user-admin,
.user-controls a,
.controls a.btn {
    background: $BGPrimary !important;


    &.create,
    &.compose-pm,
    &.chat-direct-message-btn {
        color: var(--tertiary);
    }
}
