// pyxfluff 2026

@import "mixins/menus";
@import "mixins/variables";

.post-stream,
.small-action .small-action-desc {
    // not sure why actions are different from post-stream?
    width: 100%;
}

.topic-body {
    // full width support
    width: 100%;

    border-top: 0px;
}

.post-menu-area {
    background-color: rgba(var(--secondary-rgb), 0.3);

    width: fit-content;
    float: right;

    padding: 5px;
    margin-bottom: 0px;

    padding-top: 0px;
    margin-top: 0px;

    border-radius: 0px 0px 6px 6px;

    button {
        border-radius: 4px;
        transition: all 0.25s;
        background: none !important;

        &.toggle-like {
            .svg {
                transition: all 0.25s;
            }
        }
    }
}

.topic-status-info,
.topic-timer-info {
    border: 0px;
}

code,
aside.onebox {
    @include ClearMenu();

    box-shadow: none;
}

blockquote {
    @include ClearMenu();
    border-radius: 6px 14px 14px 6px !important;

    border-left: 4px solid $BGPrimary !important;
}

nav.post-controls .actions .double-button button.like,
nav.post-controls .actions .double-button button.like .d-icon {
    transition: all 0.25s;

    &.d-hover .d-icon {
        height: 1.25em;
        width: 1.25em;
    }
}

#suggested-topics-title,
#related-topics-title {
    @include ClearMenuNoRounding();

    padding: 10px;
    margin-bottom: 0px;
    border-radius: 18px 18px 0px 0px;
}

.selected-posts {
    @include ClearMenu();
}

.regular.contents,
.topic-map,
.topic-statuses:has(:not(:empty)) {
    background-color: rgba(var(--secondary-rgb), 0.3);
    border-radius: 8px;

    &.contents {
        border-radius: 6px 6px 0px 6px !important;
    }
}

.topic-statuses:has(:not(:empty)) {
    padding: 3px 10px 3px 10px;
    margin-right: 5px;
}

.archetype-private_message .topic-map section {
    background: transparent !important;
}

.cooked img,
img.diff-ins,
img.diff-del {
    border-radius: 8px;
}

.topic-list-item,
.topic-list-item.visited .topic-list-data,
.latest-topic-list-item.visited,
.category-topic-link.visited {
    background-color: transparent;
}

.fk-d-menu.toolbar-menu__options-content.toolbar-popup-menu-options.-animated.-expanded {
    @include ClearMenu();

    button,
    .dropdown-menu,
    .fk-d-menu__inner-content {
        background: transparent !important;
    }
}

.topic-map {
    border: 0px !important;

    width: 100%;
    max-width: unset !important;

    .topic-map__contents {
        margin-left: 7px;
        margin-right: 7px;
    }
}

.modal.history-modal #display-modes .nav {
    @include ClearMenu();
}

.edit-reason {
    border: 5px solid var(--highlight-bg);
    border-radius: 4px;
}

.meta,
.lightbox-wrapper .d-icon {
    @include ClearMenuNoRounding();

    background-color: (var(--secondary-rgb), 0.5) !important;
    color: var(--primary) !important;
    border-radius: 0px 0px 8px 8px;
}

.pswp__img {
    border-radius: 8px;
}

.pswp__bg {
    background: var(--lightbox-image);
    background-size: cover;
    filter: blur(8px);
    //transition: 1s linear opacity !important;
}

.pswp--ui-visible .pswp__bg {
    opacity: 1 !important
}

.pswp__scroll-wrap {
    background: rgb(from var(--pswp-bg) r g b / 0.8)
}

.cooked details {
    @include ClearMenu();

    background-color: transparent !important;
}

.topic-navigation button {
    @include ClearMenu();

    aspect-ratio: 1;
}

.quote {
    blockquote {
        border-radius: 0px 0px 18px 18px !important;
    }

    div.title {
        @include ClearMenuNoRounding();

        border-radius: 18px 18px 0px 0px;
    }
}
