// pyxfluff 2026

$BGPrimary: rgba(var(--secondary-rgb), 0.5);
$HeaderOffset: 9px;
$PostRadius: 16px;

//$PrimaryBlurFactor: 3rem;

:root {
  --twitter: #1398cd;
  --d-content-background: transparent; // does not work sadly
  --admin-content-max-width: 100%;
}
