// pyxfluff 2026

$BGPrimary: rgba(var(--secondary-rgb), 0.5);
$HeaderOffset: 9px;
//$PrimaryBlurFactor: 3rem;

:root {
    --twitter: #1398CD;
    --d-content-background: transparent; // does not work sadly
    --admin-content-max-width: 100%;
}
